<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class="media-left">
  </div>
  <div class="media-body">
    <small>
      <% if policy(comment).destroy? %>
        <%= link_to "Delete", [comment.post, comment], method: :delete %>
      <% end %>
    </small>
    <p><%= comment.body %></p>
  </div>
<% end %>