<% if @comment.created? %>
  $<'#comment-' +<%= @comment.id %>.show();
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%flash[:error] %></div>");
<% end %>

<% if @comment.valid? %>
  $('.js-comments').prepend("<%= escape_javascript(render(@comment)) %>");
<% else %>
  $('.new-comment').html("<%= escape_javascript(render partial: 'comments/form', locals: { post: @post, comment: @comment }) %>");
<% end %>