<h1>Welcome to Bloccit</h1>
<p>This is the home page for Bloccit.</p>


<section>I am the content in a section element.</section>
<%= link_to "twitter.com/kris_copon" do %>
  <%= image_tag('logo.png', alt: "Home") %>
  <% end %>

<%= link_to "Follow me", "http://www.twitter.com/kris_copon", class: "social-btn" %>